<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discord 2</title>
    <link rel="icon" href="/images/Discord-Emblem.png" type="image/png">
    <link rel="stylesheet" href="/css/index.css">
    
</head>
<body>
    <div class="container">
        <img class="image-box" id="image-box"  src="/images/discord.jpg">
        <input type="file" id="file-input" style="display: none"/>
        <div class="container-2">
            <img id="file-input-label" for="file-input" src="/images/Discord-Emblem.png">
            <input id="input-text" placeholder="Digite seu nickname aqui!">
        </div>
    </div>
    
    <script src="/js/file.js"></script>
</body>
</html>
